ul, ol {
	&.list-unstyled {
		list-style:none;
		margin:0;
		padding:0;
	}

	&.list-inline {
		> li {
			@include inline-block;
		}
	}
}

h1, h2, h3, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight:600;
}

h1, .h1 {
	font-size:36px;
}

h2, .h2 {
	font-size:30px;
}

h3, .h3 {
	font-size:24px;
}

h4, .h4 {
	font-size:20px;
}

h5, .h5 {
	font-size:18px;
}

h6, .h6 {
	font-size:16px;
}

.text-white {
	color:$white;
}

.text-black {
	color:$black;
}

.text-justify {
	text-align:justify;
}

.text-center {
	text-align:center;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.uppercase {
	text-transform:uppercase;
}
